<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">PPT 리스트</h6>
            </div>
            <!-- Search -->
            <div class="card-header py-3">
                <form  role="form" action="/contents/ppts/" method="GET"
                       class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>테그</th>
                            <th>파일명</th>
                            <th>작성자</th>
                            <th>작성일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,i : ${contentspage.page}">
                            <td th:text="${item.id}"></td>
                            <td>
                                <!--<a href="#" th:href="@{/contents/ppts/{id} (id=${item.id})}"
                                   th:text="${item.title}"></a>-->
                                <label th:text="${item.title}" />
                            </td>
                            <td>
                                <img th:src="@{'/contents/display?id=' + ${item.preview.id}}" width="80"  />
                                <!--<label th:text="${item.fileName}"></label>-->
                                <a href="#" th:href="@{/contents/ppts/{id} (id=${item.id})}"
                                   th:text="${item.fileName}"></a>
                            </td>
                            <td th:text="${item.createdBy}"></td>
                            <td th:text="${{item.createdDate}}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <form id="form" role="form" action="/contents/ppts/edit"
                              method="get">
                            <button type="submit" class="btn btn-primary" id="btnSave">작성</button>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-5">
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <nav aria-label="Page navigation" class="paging">
                            <ul class="pagination" th:if="${contentspage.page.totalPages > 1}">
                                <li class="page-item" th:classappend="${!contentspage.paging.isPrevEnabled()? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{'/contents/ppts?pageNumber=' + ${contentspage.paging.pageNumber - 1}}"
                                       tabindex="-1">Previous</a>
                                </li>
                                <th:block th:each="item : ${contentspage.paging.getItems()}">
                                    <li class="page-item" th:classappend="${item.index == contentspage.paging.pageNumber? 'active' : ''}"
                                        th:if="${item.pageItemType.name() == 'PAGE'}">
                                        <a class="page-link" th:href="@{'/contents/ppts?pageNumber=' + ${item.index}}"
                                           th:text="${item.index}"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                </th:block>
                                <li class="page-item" th:classappend="${!contentspage.paging.isNextEnabled()? 'disabled' : ''}">
                                    <a class="page-link" th:href="@{'/contents/ppts?pageNumber=' + ${contentspage.paging.pageNumber + 1}}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>